                body {
                overflow: hidden;
                background-color: rgb(255, 255, 255);
            }
            
            .square {
                height: 10vh;
            }
            
            .contact {
                background-size: cover;
                background-image: url('https://images.unsplash.com/photo-1599345497736-fe563f9f2ac1?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1950&q=80');
            }
            
            .form-container {
                height: 100%;
                width: 103.5%;
                background-size: cover;
            }
            
            .left-side {
                height: 80%;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            
            .message-header {
                text-align: center;
                margin-top: 15%;
                font-size: 4vw;
                height: auto;
                width: 75%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5%;
                background-color: rgba(224, 224, 224, 0.795);
            }
            
            .fa-hand-point-right {
                margin-left: 5%;
                color: #6be6bd;
                animation: blink-animation 1s steps(5, start) infinite;
                -webkit-animation: blink-animation 1s steps(5, start) infinite;
            }
            
            form {
                width: 70%;
                height: 50%;
                background-color: rgba(224, 224, 224, 0.795);
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 10%;
                padding-right: 10%;
            }
            
            .calendy-container {
                height: 95vh;
                width: 100%;
                padding-top: 10%;
                background-color: rgba(224, 224, 224, 0.795);
                display: flex;
                justify-content: center;
            }
            
            .calendly-inline-widget {
                height: 85%!important;
                width: 85%!important;
            }
            
            .social-link {
                color: #892cdc;
            }
            
            form.input {
                width: 10%;
            }
            
            @keyframes blink-animation {
                to {
                    visibility: hidden;
                }
            }
            
            @-webkit-keyframes blink-animation {
                to {
                    visibility: hidden;
                }